body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.container {
  margin: 5% 10%;
}

.title {
  font-size: 50px;
  text-align: center;
}

.details {
  font-size: 20px;
  letter-spacing: 0.1em;
}

.main {
  font-size: 18px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 25%;
  border: 1px solid black;
}

.button {
  text-align: center;
}

.main p {
  text-align: center;
}
.main p:nth-child(1) {
  font-weight: bold;
}

.result p {
  font-size: 40px;
}

.error {
  color: red;
  margin: 30px 0 0 30vh;
}

@media print {
  .button {
    display: none;
  }
}

.s1,
.s2 {
  border: 1px solid black;
}
